@import "tailwindcss";

:root {
  --primary: #2b8dee;
  --danger: #ff4d4d;
  --blue-light: #c6d8f3;
  --blue-placeholder: #2d557c;
}

@theme inline {
  --color-primary: var(--primary);
  --color-danger: var(--danger);
  --color-blue-light: var(--blue-light);
  --color-blue-placeholder: var(--blue-placeholder);
}

button {
  cursor: pointer;
}